// ***************************************************************************************
// Variaveis
// ***************************************************************************************
$color-primary: #0069D9;
$color-secondary: #727B84;
$color-success: #218838;
$color-danger: #C82333;
$color-warning: #FFC107;
$color-info: #138496;
$color-light: #E2E6EA;
$color-dark:  #23272B;

$modal-body-color: #bdc3c7;
$modal-body-font-size: 1.5rem;
$modal-body-margin-bottom: 0%;

$botao-margin-top: 1em;
$botao-margin-right: 1em;

$modal-header-img-padding-bottom: 2rem;

$modal-header-close-padding: 0rem 0.3rem 0rem 0rem;

$modal-header-color: #fff;
$modal-header-color-close: #fff;

$modal-header-img-circulo-icone-background-color: white;
$modal-header-img-circulo-icone: 50px;
$modal-header-img-circulo-icone-fi-font-size: 2.3rem;

$componente-modal-header-img-color-white: #fff;