/* Modify modal-header*/
.modal {
	.modal-header {
		.close{
			cursor: pointer;
			padding: $modal-header-close-padding;
		}
	}
	.modal-header-img{
			padding-bottom: $modal-header-img-padding-bottom;
	}
}

/* Style modal-header*/
.modal {
	.modal-header {
		color: $modal-header-color;
		border-bottom: none;
		.close{
			color: $modal-header-color-close;
		}
	}
	.modal-header-img{
		.circulo-icone{
			background-color: $modal-header-img-circulo-icone-background-color; 
			height: $modal-header-img-circulo-icone; 
			width: $modal-header-img-circulo-icone;
		}
		.fi{
			font-size: $modal-header-img-circulo-icone-fi-font-size;
		}
	}
}

.componente-modal-header-img-color-white{
	color: $componente-modal-header-img-color-white;
}

.modal-primary{
	.modal-header {
		background-color: $color-primary;
	}
	.modal-header-img{
		@extend .modal-header;
		@extend .componente-modal-header-img-color-white;
	}
	i{
		color: $color-primary;
	}
}

.modal-secondary{
	.modal-header {
		background-color: $color-secondary;
	}
	.modal-header-img{
		@extend .modal-header;
		@extend .componente-modal-header-img-color-white;
	}
	i{
		color: $color-secondary;
	}
}

.modal-success{
	.modal-header {
		background-color: $color-success;
	}
	.modal-header-img{
		@extend .modal-header;
		@extend .componente-modal-header-img-color-white;
	}
}

.modal-danger{
	.modal-header {
		background-color: $color-danger;
	}
	.modal-header-img{
		@extend .modal-header;
		@extend .componente-modal-header-img-color-white;
	}
	i{
		color: $color-danger;
	}
}

.modal-warning{
	.modal-header {
		background-color: $color-warning;
	}
	.modal-header-img{
		@extend .modal-header;
		@extend .componente-modal-header-img-color-white;
	}
}

.modal-info{
	.modal-header {
		background-color: $color-info;
	}
	.modal-header-img{
		@extend .modal-header;
		@extend .componente-modal-header-img-color-white;
	}
}

.modal-light{
	.modal-header {
		background-color: $color-light;
	}
	.modal-header-img{
		@extend .modal-header;
		@extend .componente-modal-header-img-color-white;
	}
	i{
		color: $color-light;
	}

}

.modal-dark{
	.modal-header {
		background-color: $color-dark;
	}
	.modal-header-img{
		@extend .modal-header;
		@extend .componente-modal-header-img-color-white;
	}
	i{
		color: $color-dark;
	}
}